venv=".venv/$MACHTYPE/Python_3.10.11"

export VIRTUAL_ENV="${venv}"
export PATH="${venv}/bin:$PATH:/home/ati/.pyenv/shims/bin"
export LD_LIBRARY_PATH=":/home/ati/.pyenv/shims/lib:/home/ati/.pyenv/shims/lib"
export LD_RUN_PATH=":/home/ati/.pyenv/shims/lib:/home/ati/.pyenv/shims/lib"
if [[ -f "${venv}/bin/python" ]]; then
    export PROMPT_PREFIX="$(python --version)"
else
    export PROMPT_PREFIX="$(which python)"
fi
